* {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'vag_roundedbold';
	src: url("media/fonts/vag_rounded_bold.woff") format("woff");
}
@font-face {
	font-family: 'arial_narrowbold';
	src: url("media/fonts/arial_narrow_bold.woff") format("woff");
}
body {
    background: black;
}
.fontPreload{
    position:absolute;
    left:-100px;
}