@font-face {
    font-family: 'exoblack';
    src: url('../assets/fonts/exo/Exo-Black-webfont.eot');
    src: url('../assets/fonts/exo/Exo-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/exo/Exo-Black-webfont.woff2') format('woff2'),
         url('../assets/fonts/exo/Exo-Black-webfont.woff') format('woff'),
         url('../assets/fonts/exo/Exo-Black-webfont.ttf') format('truetype'),
         url('../assets/fonts/exo/Exo-Black-webfont.svg#exoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exoblackitalic';
    src: url('../assets/fonts/exo/Exo-BlackItalic-webfont.eot');
    src: url('../assets/fonts/exo/Exo-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/exo/Exo-BlackItalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/exo/Exo-BlackItalic-webfont.woff') format('woff'),
         url('../assets/fonts/exo/Exo-BlackItalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/exo/Exo-BlackItalic-webfont.svg#exoblackitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exobold';
    src: url('../assets/fonts/exo/Exo-Bold-webfont.eot');
    src: url('../assets/fonts/exo/Exo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/exo/Exo-Bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/exo/Exo-Bold-webfont.woff') format('woff'),
         url('../assets/fonts/exo/Exo-Bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/exo/Exo-Bold-webfont.svg#exobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exobolditalic';
    src: url('../assets/fonts/exo/Exo-BoldItalic-webfont.eot');
    src: url('../assets/fonts/exo/Exo-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/exo/Exo-BoldItalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/exo/Exo-BoldItalic-webfont.woff') format('woff'),
         url('../assets/fonts/exo/Exo-BoldItalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/exo/Exo-BoldItalic-webfont.svg#exobolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exoextrabold';
    src: url('../assets/fonts/exo/Exo-ExtraBold-webfont.eot');
    src: url('../assets/fonts/exo/Exo-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/exo/Exo-ExtraBold-webfont.woff2') format('woff2'),
         url('../assets/fonts/exo/Exo-ExtraBold-webfont.woff') format('woff'),
         url('../assets/fonts/exo/Exo-ExtraBold-webfont.ttf') format('truetype'),
         url('../assets/fonts/exo/Exo-ExtraBold-webfont.svg#exoextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exoextrabolditalic';
    src: url('../assets/fonts/exo/Exo-ExtraBoldItalic-webfont.eot');
    src: url('../assets/fonts/exo/Exo-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/exo/Exo-ExtraBoldItalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/exo/Exo-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../assets/fonts/exo/Exo-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/exo/Exo-ExtraBoldItalic-webfont.svg#exoextrabolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exoextralight';
    src: url('../assets/fonts/exo/Exo-ExtraLight-webfont.eot');
    src: url('../assets/fonts/exo/Exo-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/exo/Exo-ExtraLight-webfont.woff2') format('woff2'),
         url('../assets/fonts/exo/Exo-ExtraLight-webfont.woff') format('woff'),
         url('../assets/fonts/exo/Exo-ExtraLight-webfont.ttf') format('truetype'),
         url('../assets/fonts/exo/Exo-ExtraLight-webfont.svg#exoextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exoextralightitalic';
    src: url('../assets/fonts/exo/Exo-ExtraLightItalic-webfont.eot');
    src: url('../assets/fonts/exo/Exo-ExtraLightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/exo/Exo-ExtraLightItalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/exo/Exo-ExtraLightItalic-webfont.woff') format('woff'),
         url('../assets/fonts/exo/Exo-ExtraLightItalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/exo/Exo-ExtraLightItalic-webfont.svg#exoextralightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exoitalic';
    src: url('../assets/fonts/exo/Exo-Italic-webfont.eot');
    src: url('../assets/fonts/exo/Exo-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/exo/Exo-Italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/exo/Exo-Italic-webfont.woff') format('woff'),
         url('../assets/fonts/exo/Exo-Italic-webfont.ttf') format('truetype'),
         url('../assets/fonts/exo/Exo-Italic-webfont.svg#exoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exolight';
    src: url('../assets/fonts/exo/Exo-Light-webfont.eot');
    src: url('../assets/fonts/exo/Exo-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/exo/Exo-Light-webfont.woff2') format('woff2'),
         url('../assets/fonts/exo/Exo-Light-webfont.woff') format('woff'),
         url('../assets/fonts/exo/Exo-Light-webfont.ttf') format('truetype'),
         url('../assets/fonts/exo/Exo-Light-webfont.svg#exolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exolightitalic';
    src: url('../assets/fonts/exo/Exo-LightItalic-webfont.eot');
    src: url('../assets/fonts/exo/Exo-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/exo/Exo-LightItalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/exo/Exo-LightItalic-webfont.woff') format('woff'),
         url('../assets/fonts/exo/Exo-LightItalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/exo/Exo-LightItalic-webfont.svg#exolightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exomedium';
    src: url('../assets/fonts/exo/Exo-Medium-webfont.eot');
    src: url('../assets/fonts/exo/Exo-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/exo/Exo-Medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/exo/Exo-Medium-webfont.woff') format('woff'),
         url('../assets/fonts/exo/Exo-Medium-webfont.ttf') format('truetype'),
         url('../assets/fonts/exo/Exo-Medium-webfont.svg#exomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exomediumitalic';
    src: url('../assets/fonts/exo/Exo-MediumItalic-webfont.eot');
    src: url('../assets/fonts/exo/Exo-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/exo/Exo-MediumItalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/exo/Exo-MediumItalic-webfont.woff') format('woff'),
         url('../assets/fonts/exo/Exo-MediumItalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/exo/Exo-MediumItalic-webfont.svg#exomediumitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exoregular';
    src: url('../assets/fonts/exo/Exo-Regular-webfont.eot');
    src: url('../assets/fonts/exo/Exo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/exo/Exo-Regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/exo/Exo-Regular-webfont.woff') format('woff'),
         url('../assets/fonts/exo/Exo-Regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/exo/Exo-Regular-webfont.svg#exoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exosemibold';
    src: url('../assets/fonts/exo/Exo-SemiBold-webfont.eot');
    src: url('../assets/fonts/exo/Exo-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/exo/Exo-SemiBold-webfont.woff2') format('woff2'),
         url('../assets/fonts/exo/Exo-SemiBold-webfont.woff') format('woff'),
         url('../assets/fonts/exo/Exo-SemiBold-webfont.ttf') format('truetype'),
         url('../assets/fonts/exo/Exo-SemiBold-webfont.svg#exosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exosemibolditalic';
    src: url('../assets/fonts/exo/Exo-SemiBoldItalic-webfont.eot');
    src: url('../assets/fonts/exo/Exo-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/exo/Exo-SemiBoldItalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/exo/Exo-SemiBoldItalic-webfont.woff') format('woff'),
         url('../assets/fonts/exo/Exo-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/exo/Exo-SemiBoldItalic-webfont.svg#exosemibolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exothin';
    src: url('../assets/fonts/exo/Exo-Thin-webfont.eot');
    src: url('../assets/fonts/exo/Exo-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/exo/Exo-Thin-webfont.woff2') format('woff2'),
         url('../assets/fonts/exo/Exo-Thin-webfont.woff') format('woff'),
         url('../assets/fonts/exo/Exo-Thin-webfont.ttf') format('truetype'),
         url('../assets/fonts/exo/Exo-Thin-webfont.svg#exothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exothinitalic';
    src: url('../assets/fonts/exo/Exo-ThinItalic-webfont.eot');
    src: url('../assets/fonts/exo/Exo-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/exo/Exo-ThinItalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/exo/Exo-ThinItalic-webfont.woff') format('woff'),
         url('../assets/fonts/exo/Exo-ThinItalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/exo/Exo-ThinItalic-webfont.svg#exothinitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('../assets/fonts/roboto/roboto-thin-webfont.eot');
    src: url('../assets/fonts/roboto/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto/roboto-thin-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto/roboto-thin-webfont.woff') format('woff'),
         url('../assets/fonts/roboto/roboto-thin-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../assets/fonts/roboto/Roboto-Light-webfont.eot');
    src: url('../assets/fonts/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto/Roboto-Light-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto/Roboto-Light-webfont.woff') format('woff'),
         url('../assets/fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../assets/fonts/roboto/Roboto-Regular-webfont.eot');
    src: url('../assets/fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto/Roboto-Regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('../assets/fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('../assets/fonts/roboto/Roboto-Medium-webfont.eot');
    src: url('../assets/fonts/roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto/Roboto-Medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto/Roboto-Medium-webfont.woff') format('woff'),
         url('../assets/fonts/roboto/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('../assets/fonts/roboto/Roboto-Bold-webfont.eot');
    src: url('../assets/fonts/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto/Roboto-Bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/roboto/Roboto-Bold-webfont.woff') format('woff'),
         url('../assets/fonts/roboto/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}