* {
	margin: auto;
	padding: 0;
}

body {
    background: black;
}
#gameContainer{
	width:100%;
}
.fontPreload{
    position:absolute;
    left:-100px;
}
.modal-backdrop.in{
	opacity:0.0;
}
.modal-footer{
	border: none;
	background-color: #353B4A;
}

.modal-content{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	overflow: visible;
	border:none;
	background-color: rgba(53,59,74,0.85);
}
.questionModalDescription{
	color: white;
	margin: 0;
	font-family: robotothin;
	font-size: 20px;
	line-height: 36px;
	padding: 24px;
}
.questionModalLabel, .questionModalUnits{
	color: white;
	font-family: robotoregular;
	font-size: 20px;
}
#questionModalSubmit{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color:#000;
	font-family: "exolight";
	font-size: 15px;
	padding: 6px 40px;
	margin-right: 5px;
	background-color: #00C0FB;
}
#questionModalWarning{
	color: #FF3434;
	padding: 0;
	margin-top: 25px;
	margin-bottom: -20px;
	font-family: robotoregular;
	font-size: 20px;
	padding-bottom: 10px;
}
.questionModalSubmission{
	font-size:20px;
	border-color: #01ADF9;
	background: #FFF;
	width: 100px;
	float:left;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: exoregular;
	text-align: right;
	border-radius: 0;
	color:black;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	margin-top: -2px;
	-webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;

}
.questionModalSubmission:focus{
	-webkit-box-shadow: inset 1px 1px 14px 0px #00C0FB;
	-moz-box-shadow: inset 1px 1px 14px 0px #00C0FB;
	-o-box-shadow: inset 1px 1px 14px 0px #00C0FB;
	box-shadow: inset 1px 1px 14px 0px #00C0FB;
}
.labelBlock{
	float:left;
	padding-right: 10px;
}
.questionModalUnits{
	padding-left: 10px;
}
.popover-title{
	font-family: robotomedium;
	font-size: 20px;
	background-color: rgba(0,0,0,0);
	border: none;
	padding: 25px 20px 0px;
}
.popover-content{
	color: #353B4A;
	font-family: robotoregular;
	font-size: 15px;
	background-color: rgba(0,0,0,0);
	border: none;
	padding: 15px 20px 30px 20px;;
}
.popover{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.questionModalInputBlock{
	padding:0 0 24px 24px;
}
.sWrong, .sWrong:focus{
	-webkit-box-shadow: inset 1px 1px 14px 0px #FF3434;
	-moz-box-shadow: inset 1px 1px 14px 0px #FF3434;
	-o-box-shadow: inset 1px 1px 14px 0px #FF3434;
	box-shadow: inset 1px 1px 14px 0px #FF3434;
	border-color: #FF3434;
	background-image: url('../assets/images/XRed.png');
	background-repeat:no-repeat;
	background-position: 8px;
	background-size: 20px;
}
